@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

body {
    background-color: #E6E3D3;
}

* {
    box-sizing: border-box;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
    filter: grayscale(100%)
}

.perm-disabled {
    pointer-events: none;
    opacity: 0.3;
    filter: grayscale(100%)
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    text-align: center;
    display: block;
}

.logo img {
    width: 250px;
    height: 250px;
}

.welcome-message {
    margin-top: 50px;
    padding-left: 40px;
}

.welcome-message p {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    text-align: center;
}

.score-breakdown {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    text-align: center;
    list-style: none;
    padding: 0%;
}

.score-breakdown p {
    text-align: center;
    margin-bottom: 5px;
    text-decoration: underline;
}

.difficulty-title {
    font-family: 'Henny Penny', cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.randomiser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17px;
}

.randomiser img {
    width: 70px;
    height: 50px;
}

.randomiser-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
    margin: 70px;
}

.randomiser-button:hover {
    transform: scale(1.2);
}

.randomiser-button img {
    margin: -20px;
}

.text-input {
    text-align: center;
    padding: 30px;
}

.text-input .definition {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    color: black;
    padding: 20px;
    height: 200px;
    margin-top: -40px;
}

.text-input input {
    outline: 0;
    border-width: 0 0 5px;
    border-color: black;
    background: transparent;
    font-family: 'Alegreya', serif;
    font-size: 50px;
    text-align: center;
}

::placeholder {
    color: black;
    opacity: 0.5;
}

.text-input p {
    font-family: 'Alegreya', serif;
    font-size: 35px;
    font-weight: 800;
    color: green;
    margin: 0%;
}

.submit-button {
    margin: 60px;
    background-color: #05930C;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.submit-button:hover {
    transform: scale(1.1);
}

.submit-button:active {
    box-shadow: 0px 4px 8px;
    transform: scale(.98);
}

.end-game-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    transition: transform .7s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: -10px;
    margin-right: 10px;
    min-width: 10px;
}

.end-game-button img {
    width: 100px;
    height: 150px;
}

.end-game-button:hover {
    transform: scale(1.1);
}

.end-game-button:active {
    transform: scale(.98);
}
.new-game-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    transition: transform .7s ease-in-out;
}

.new-game-button:hover {
    transform: scale(1.1);
}

.new-game-button:active {
    transform: scale(.98);
}

.score-card {
    font-family: 'Alegreya', serif;
    font-weight: 800;
    text-align: center;
    margin: auto;
}

.score-card h3 {
    font-size: 40px;
}

.score-card p {
    font-size: 30px;
    text-decoration: underline;
}

.score-card ul {
    font-size: 25px;
    list-style: none;
    padding-left: 0%;
    overflow: auto;
    max-height: 170px;
}

.score-card img {
    margin: 30px;
    width: 150px;
    height: 150px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    display: block;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@media only screen and (max-width: 1600px) {
    .score-card h3 {
        font-size: 30px;
    }

    .score-card p {
        font-size: 25px;
    }

    .score-card ul {
        font-size: 20px;
        height: 150px;
    }

    .score-card img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 1350px) {
    .logo img {
        width: 200px;
        height: 200px;
    }

    .welcome-message p {
        font-size: 20px;
    }

    .score-breakdown {
        font-size: 15px;
    }

    .difficulty-title {
        font-size: 30px;
    }

    .randomiser img {
        width: 60px;
        height: 40px;
    }

    .randomiser-button {
        margin: 30px;
    }

    .text-input .definition {
        font-size: 20px;
    }

    .text-input input {
        border-width: 0 0 3px;
        font-size: 40px;
    }

    .text-input p {
        font-size: 40px;
    }

    .end-game-button img {
        width: 80px;
        height: 130px;
    }

    .submit-button {
        margin: 40px;
        font-size: 20px;
    }

    .text-input img {
        width: 75px;
        height: 160px;
    }
    
}

@media only screen and (max-width: 1045px) {
    .column {
        float: none;
        width: 100%;
        padding: 0px;
    }

    .row:after {
        content: none;
        display: none;
        clear: none;
    }

    .welcome-message {
        padding-left: 0px;
    }

    .difficulty-title {
        text-align: center;
        margin-top: 70px;
    }

    .randomiser img {
        width: 70px;
        height: 50px;
    }

    .randomiser-button {
        margin: 50px;
    }

    .text-input {
        padding: 50px;
    }

    .text-input input {
        font-size: 30px;
    }

    .submit-button {
        margin: 60px;
    }

    .end-game-button img {
        width: 50px;
        height: 100px;
    }

    .score-card {
        width: 50%;
    }
}

@media only screen and (max-width: 543px) {
    .logo img {
        width: 150px;
        height: 150px;
    }

    .welcome-message p {
        font-size: 15px;
    }

    .score-breakdown {
        font-size: 10px;
    }

    .difficulty-title {
        font-size: 20px;
        margin-top: 40px;
    }

    .randomiser img {
        width: 50px;
        height: 30px;
    }

    .text-input .definition {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: -20px;
    }

    .text-input {
        padding-top: 10px;
    }

    .text-input input {
        border-width: 0 0 3px;
        font-size: 25px;
    }

    .submit-button {
        margin: 50px;
        font-size: 20px;
        padding: 10px 25px;
    }

    .text-input img {
        width: 50px;
        height: 100px;
    }

    .text-input p {
        font-size: 25px;
    }

    .score-card {
        width: 70%;
    }

    .score-card h3 {
        font-size: 25px;
    }

    .score-card p {
        font-size: 20px;
    }

    .score-card ul {
        font-size: 15px;
        height: 100px;
    }

    .score-card img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 423px) {
    .logo img {
        width: 100px;
        height: 100px;
    }

    .welcome-message {
        margin-top: 20px;
    }

    .welcome-message p {
        font-size: 12px;
    }

    .score-breakdown {
        font-size: 7px;
    }

    .difficulty-title {
        font-size: 15px;
        margin-top: 30px;
    }

    .randomiser img {
        width: 50px;
        height: 30px;
    }

    .randomiser-button {
        margin: 30px;
    }

    .text-input .definition {
        font-size: 12px;
        margin: -30px;
        height: 160px;
    }

    .text-input {
        text-align: center;
        padding: 30px;
    }

    .text-input input {
        border-width: 0 0 3px;
        font-size: 20px;
    }

    .score-card p {
        font-size: 20px;
    }

    .submit-button {
        margin: 30px;
        font-size: 15px;
        padding: 10px 25px;
    }

    .text-input img {
        width: 40px;
        height: 70px;
    }

    .score-card {
        width: 80%;
    }

    .score-card h3 {
        font-size: 20px;
    }

    .score-card p {
        font-size: 15px;
    }

    .score-card ul {
        font-size: 10px;
        height: 50px;
    }

    .score-card img {
        width: 50px;
        height: 50px;
    }
    
}

